.youtube-main {
    width: max-content;
    height: max-content;
    
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    margin: 0 auto;
    margin-top: 50px;

    border: 1px solid rgba(0, 0, 0, 0.2);
}

.youtube-main > .title {
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 30px;
    font-weight: bold;
}

.youtube-main > iframe {
    display: block;
}

.youtube-title {
    font-size: 30px;
    font-weight: bold;

    text-align: center;

    margin-top: 20px;

    /* Chrome, Safari, Opera */
	-webkit-animation: rainbow 3s infinite; 

	/* Internet Explorer */
	-ms-animation: rainbow 3s infinite;

	/* Standar Syntax */
	animation: rainbow 3s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow {
	0%{color: orange;}
	10%{color: purple;}
	20%{color: red;}
	30%{color: CadetBlue;}
	40%{color: yellow;}
	50%{color: coral;}
	60%{color: green;}
	70%{color: cyan;}
	80%{color: DeepPink;}
	90%{color: DodgerBlue;}
	100%{color: orange;}
}

/* Internet Explorer */
@-ms-keyframes rainbow {
	0%{color: orange;}
	10%{color: purple;}
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	100%{color: orange;}
}

/* Standar Syntax */
@keyframes rainbow{
	0%{color: orange;}
	10%{color: purple;}
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	100%{color: orange;}
}